<a href="https://colab.research.google.com/github/VijayaGajula/Python-/blob/main/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
print(a)

5

In [ ]:
a=int(input())
print(a)
print(type(a))

5
5
<class 'int'>

In [ ]:
a="Helloworld"
print(a)

Helloworld

In [ ]:
a=input()
print(a)
print(type(a))

Hello world
Hello world
<class 'str'>

In [ ]:
a=float(input())
print(a)
print(type(a))

5
5.0
<class 'float'>

In [ ]:
a=5 #variable
print(a)

5

In [ ]:
a=['apple','banana','cherry']
a.append('orange')
print(a)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
a=[1,2,3]
a.clear()
print(a)

[]

In [ ]:
a=[1,3,5]
x=a.copy()
print(x)

[1, 3, 5]

In [ ]:
a=[1,2,3,4,6,7,8,7]
x=a.count(7)
print(x)

2

In [ ]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
a=[4,5,6]
x=a.index(5)
print(x)

1

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [ ]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [ ]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [ ]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [ ]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
txt = "   "

x = txt.isspace()

print(x)

True

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [ ]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [ ]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [ ]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS